{% extends 'base.html' %}

{% block styles %}
<!-- Custom styles for this page -->
<link href="static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock styles %}

{% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
    <p class="mb-4">Use tables to search for usages of a day, a month or an appliance.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tabulated Usages</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Appliance</th>
                            <th>Power</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                        <tr>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Duration</th>
                            <th>Status</th>
                            <th>Appliance</th>
                            <th>Power</th>
                        </tr>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for usage in usages %}
                        <tr>
                            <td>{{usage.timestamp}}</td>
                            <td>{{usage.endtime}}</td>
                            <td>{{usage.samples}}</td>
                            <td>{{usage.status}}</td>
                            <td>{{usage.appliance.name}}</td>
                            <td>{{usage.pw_mean|round(2, 'common')}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

{% endblock content %}

{% block script %}

{{super()}}
<!-- Page level plugins -->
<script src="static/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/js/demo/datatables-demo.js"></script>

{% endblock script %}