<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<head>
    <meta charset="UTF-8">
    <title>Smart Meter Care</title>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="HomePage.html">SmartMeterCare</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="HomePage.html">Home</a></li>
                <li><a href="RoutinePage.html">Routines</a></li>
                <li><a href="UsagePage.html">Usage</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="AccountDetails.html"><span class="glyphicon glyphicon-user"></span> Account</a></li>
                <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
            </ul>
        </div>
    </nav>

    <div class = container-fluid>

    <div class="row">
        <div class="col-sm" style="background-color:powderblue;">
            <div id="home">
                <h2>Home</h2>
                <p>Test writing (<em>in italics</em>) I am just writing this to practice and demonstrate the layout.</p>
                <a href="https://youtu.be/dQw4w9WgXcQ" target="_blank">Learn More</a>
                <h3>Quick links</h3>
                <ul>
                    <li>How to</li>
                    <li>Manually input routines</li>
                    <li>Patient unwell?</li>
                    <li>FAQ</li>
                </ul>
            </div>
            <div id="care">
                <h2>Care</h2>
            </div>
        </div>
        <div class="col-sm" style="background-color:pink;">
            <div id="routine">
                <h2>Routine</h2>
                <h3>Current Routines</h3>
                <ol>
                    <li>Expected Daily Activities</li>
                    <li>Waking Hours</li>
                </ol>
                <h3>Detected Changes</h3>
                <p>If any changes in routine are detected, they will be noted here</p>
            </div>
            <div id="usage">
                <h2>Usage</h2>
                <img src="https://cdn.fastly.picmonkey.com/static/infographic_one_10_preview-6ec2a59fb2e7ff5793c9528d180622ca.png" width="200" height="200" class="responsive"/>
                <img src="https://i.owox.ua/pages/5/5422.png" height="200" class="responsive"/>

                <h3>Activities</h3>
                <ul>
                    <li>Sleep</li>
                    <li>Cooking</li>
                    <li>Entertainment</li>
                    <li>Hot Water & Heating</li>
                </ul>
            </div>
        </div>
    </div>
    </div>

</body>
</html>