<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
    <meta charset="UTF-8">
    <title>Usage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js" ></script>
</head>
<body>
<!--
<nav>
    <a href="https://www.informetis.com/en/" target="_blank">About Us</a>
</nav>
-->
<br>
<br>
<br>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="HomePage.html">SmartMeterCare</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="HomePage.html">Home</a></li>
            <li><a href="RoutinePage.html">Routines</a></li>
            <li class="active"><a href="UsagePage.html">Usage</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="AccountDetails.html"><span class="glyphicon glyphicon-user"></span> Account</a></li>
            <li><a href="Login.html"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
        </ul>
    </div>
</nav>

<div class = container-fluid>

    <div class = row>
        <div class = col-md-3>
            <div class="btn-group">
                <button id = "daily" type="button" class="btn btn-primary active" onclick="showDaily()"  >Daily</button>
                <button id = "weekly" type="button" class="btn btn-primary" onclick="showWeekly()">Weekly</button>
                <button id = "all time" type="button" class="btn btn-primary" onclick="showAllTime()">All time</button>
            </div>
        </div>
    </div>

    <br>

    <div class = row>
        <div class = "col-md-6">
            <h3 style = "position: center">12PM</h3>
            <div class = "chart-container" style = "position: relative;" id = pie> <canvas id="activitiesChart" ></canvas> </div>
            <h3 style = "position: center">12AM</h3>
        </div>
        <div class = "col-md-6">

        </div>
    </div>
    <br>
    <div class = row>
        <div class = "col-md-6">
            <div id = 'bar' class = "chart-container" style = "position: relative;"> <canvas id="activitiesBar" ></canvas> </div>
        </div>
        <div class="col-md-6">
            <div id = 'line' class = "chart-container" style = "position: relative;"> <canvas id="activitiesLine" ></canvas> </div>
        </div>
    </div>
</div>

<script>
    function showDaily() {
        document.getElementById("daily").setAttribute("class", "btn btn-primary");
        //  document.getElementById("pie").style.display = "block";
        //   document.getElementById("bar").style.display = "block";
        document.getElementById("line").style.display = "block";
        hideAllTime();
        hideWeekly()
    }

    function showWeekly() {
        document.getElementById("weekly").setAttribute("class", "btn btn-primary");
        //  document.getElementById("pie").style.display = "block";
        document.getElementById("bar").style.display = "block";
        //   document.getElementById("line").style.display = "block";
        hideAllTime();
        hideDaily()
    }

    function showAllTime() {
        document.getElementById("all time").setAttribute("class", "btn btn-primary");
        document.getElementById("pie").style.display = "block";
        //    document.getElementById("bar").style.display = "block";
        //    document.getElementById("line").style.display = "block";
        hideDaily();
        hideWeekly()
    }

    function hideWeekly(){
        //   document.getElementById("pie").style.display = "none";
        document.getElementById("bar").style.display = "none";
        //    document.getElementById("line").style.display = "none";
    }

    function hideDaily(){
        //   document.getElementById("pie").style.display = "none";
        //      document.getElementById("bar").style.display = "none";
        document.getElementById("line").style.display = "none";
    }

    function hideAllTime(){
        document.getElementById("pie").style.display = "none";
        // document.getElementById("bar").style.display = "none";
        //  document.getElementById("line").style.display = "none";
    }

    function toggleElement(x){
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
    var ctx = document.getElementById('activitiesChart');
    var chart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Cooking', 'Laundry', 'Showering', 'Cleaning', 'Out of house'],
            datasets: [{
                label: 'Activity Data',
                data: [15, 20, 15, 30, 4],
                backgroundColor:['darkturquoise','lightgreen','mediumpurple','peachpuff','lightsalmon']
            }]
        },
        options: {
            legend: {position: 'right'},
            animateRotate: true

        }
    });
</script>

<script>


    var ctx = document.getElementById('activitiesBar');
    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Cooking', 'Laundry', 'Showering', 'Cleaning', 'Out of house'],
            datasets: [{
                label: 'Activity Data',
                data: [15, 20, 15, 30, 4],
                backgroundColor:'darkturquoise'
            }]
        },
        options: {
            legend: {display: false},

        }
    });
</script>

<script>
    var ctx = document.getElementById('activitiesLine');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Cooking', 'Laundry', 'Showering', 'Cleaning', 'Out of house'],
            datasets: [{
                label: 'Activity Data',
                data: [15, 20, 15, 30, 4],
                backgroundColor:'darkturquoise'
            }]

        },
        options: {
            legend: {display: false},

        }
    });
</script>

<script>
    var ctx = document.getElementById('activitiesLineDaily');
    var chart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: ['Cooking', 'Laundry', 'Showering', 'Cleaning', 'Out of house'],
            datasets: [{
                label: 'Activity Data',
                data: [5, 2, 20, 30, 45],
                backgroundColor:'darkblue'
            }]

        },
        options: {
            legend: {display: false},

        }
    });
</script>
</body>
</html>